{{page-title "Omni"}}
<ShoppingList
    @foods={{this.model}}
    @deleteItem={{this.deleteItem}}
    @addItem={{this.addItem}}
    @nameChanged={{this.nameChanged}}
    @attributeChanged={{this.attributeChanged}}>
    <h1> Omni Shopping List </h1>
</ShoppingList>
{{outlet}}