<ModalDialog @onClickOverlay={{this.closeModal}}>
  <div class="product-list-container">
    <div class="product-list-header">
      <h6>Name</h6>
      <h6>Serving</h6>
      <h6>Kcal</h6>
    </div>
    <ul class="product-list">
      {{#each this.products as |food|}}
        {{!-- {{#if (and food.name food.kcal)}} --}}
          <li class="product-list-item">
            <h3 class="product-name" {{on "click" (fn this.addFood food)}}>{{food.name}}</h3>
            <div class="input-container"><input class="product-list-input" type="number" id="serving" value="100" {{on "input" (fn this.update food)}}> <p>grams</p></div>
            <p>{{food.kcal}} kcal</p>
          </li>
        {{!-- {{/if}} --}}
      {{/each}}
    </ul>
  </div>
</ModalDialog>