<ModalDialog @onClickOverlay={{this.closeModal}}>
  <div class="product-list-container">
    <div class="table-responsive">
      <table class="table table-vcenter card-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Serving</th>
            <th>kcal</th>
          </tr>
        </thead>
        <tbody>
          {{#each this.products as |food|}}
            <tr>
              <td role="button" {{on "click" (fn this.addFood food)}}>{{truncate food.name 80}}</td>
              <td class="text-muted"><input class="product-list-input" type="number" id="serving" value="100" {{on "input" (fn this.update food)}}>  grams</td>
              <td class="text-muted">{{food.kcal}} kcal</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</ModalDialog>
