<div class="meal-list-item-container">
  <li class="meal-list-item">
    <h5 class="meal-list-item-header">{{meal-number-prune @name}}</h5>
  </li>
</div>
<ul>
  {{#each @meal as |food index|}}
    <li class="diary-list-item">
      <div class="diary-list-item-content">
        <div class="diary-list-item-item">{{food.name}}</div>
        <div class="diary-list-item-item">{{food.serving}}g</div>
        <div class="diary-list-item-item">{{food.kcal}}kcal</div>
      </div>
      <div {{on "click" (fn @removeFood food @meal)}} class="close">x</div>
    </li>
  {{/each}}
    <div class="submit-container">
      <input type="text" class="generic-input" id="food" {{on "change" @update}}>
      <button type="button" class="generic-button" {{on "click" (fn @searchFood @name)}}>
        <div>
          Search
        </div> 
      </button>
    </div>
</ul>