<div class="meal-list-item-container">
  <li class="meal-list-item" {{!-- {{on "click" (fn this.changeSection meal)}} --}}>
    <h5 class="meal-list-item-header">{{@name}}</h5>
  </li>
  <div {{!-- {{on "click" (fn @removeSection meal)}} --}} class="close">x</div>
</div>
{{!-- {{#if (eq this.currentSection.name meal.name)}} --}}
  <ul>
    {{#each @meal as |food index|}}
      <li class="diary-list-item">
        <div class="diary-list-item-content">
          <div class="diary-list-item-item">{{food.name}}</div>
          <div class="diary-list-item-item">{{food.serving}}g</div>
          <div class="diary-list-item-item">{{food.kcal}}kcal</div>
        </div>
        <div {{!-- {{on "click" (fn this.removeFood food meal)}} --}} class="close">x</div>
      </li>
    {{/each}}
      <div class="submit-container">
        <input type="text" class="generic-input" id="food" {{on "change" @update}}>
        <button type="button" class="generic-button" {{on "click" (fn @searchFood @name)}}>
          <div>
            Search
          </div> 
        </button>
      </div>
  </ul>
{{!-- {{/if}} --}}