{{page-title "Home"}}

<div class="home-container">
	<div class="home-content">
		<div class="user-info-container">
			<div class="user-info-header">
				<div>
					{{this.user.firstName}}'s Stats
				</div>
			</div>
			<div class="user-info-content">
				<ul>
					<li class="user-info-list-item">Daily Calories: {{this.user.kcalDaily}}</li>
					<li class="user-info-list-item">Current Weight: {{this.user.weight}}</li>
				</ul>
			</div>
		</div>
		<div class="nutrition-container">
			<div class="nutrition-header">
				<div>
					Nutrition Stats
				</div>
			</div>
			<div class="nutrition-content">
				<ul>
					<li class="nutrition-list-item">Calories: {{number-format this.totalKcal}} / {{this.user.kcalDaily}}</li>
					<li class="nutrition-list-item">Protein: {{number-format this.totalProtein}}</li>
					<li class="nutrition-list-item">Fat: {{number-format this.totalFat}}</li>
					<li class="nutrition-list-item">Carbs: {{number-format this.totalCarbs}}</li>
					<li class="nutrition-list-item">Sodium: {{number-format this.totalSodium}}</li>
					<li class="nutrition-list-item">Fiber: {{number-format this.totalFiber}}</li>
				</ul>
			</div>
		</div>
		<div class="diary-container">
			<div class="diary-header">
				<div>
					Meal Planner
				</div>	
			</div>
			<div class="diary-content">
				<ul>
					<DiaryItem
						@name="Breakfast"
						@meal={{this.breakfast}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Snack 1"
						@meal={{this.snack1}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Brunch"
						@meal={{this.brunch}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Snack 2"
						@meal={{this.snack2}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Lunch"
						@meal={{this.lunch}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Snack 3"
						@meal={{this.snack3}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Dinner"
						@meal={{this.dinner}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Snack 4"
						@meal={{this.snack4}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Supper"
						@meal={{this.supper}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
					<DiaryItem
						@name="Snack 5"
						@meal={{this.snack5}}
						@searchFood={{this.searchFood}}
						@update={{this.update}}
						@removeFood={{this.removeFood}}
						/>
				</ul>
			</div>
		</div>
	</div>
</div>

<Logout/>

{{outlet}}