{{page-title "Home"}}

<div class="container">
  <div class="diary">
    <ul>
      <li>Breakfast</li>
        {{#each this.breakfastList as |breakfast index|}}
          <ul>
            <li>
              {{breakfast.name}}
              {{breakfast.serving}}
              {{breakfast.kcal}}
            </li>
          </ul>
        {{/each}}
      <input type="text" id="breakfast" {{on "change" this.update}}>
      <button type="button" class="btn btn-primary" {{on "click" (fn this.searchFood "breakfast")}}> Search </button>
      <li>Lunch</li>
      <input type="text" id="lunch" {{on "change" this.update}}>
      <button type="button" class="btn btn-primary" {{on "click" (fn this.searchFood "lunch")}}> Search </button>
      <li>Dinner</li>
      <input type="text" id="dinner" {{on "change" this.update}}>
      <button type="button" class="btn btn-primary" {{on "click" (fn this.searchFood "dinner")}}> Search </button>
    </ul>
  </div>
  <div class="product-list-container">
    <ul class="product-list">
      {{#each this.products as |product|}}
        {{#if (and product.name product.kcal)}}
          <li>
            <h3 class="product-name" {{on "click" (fn this.addFood product)}}>{{product.name}}</h3>
            <input type="number" id="serving" {{on "change" this.update}}> grams
            <h4>Kcal {{product.kcal}}</h4>
          </li>
        {{/if}}
      {{/each}}
    </ul>

  </div>
</div>

<Logout/>

{{outlet}}