{{page-title "Home"}}

<div class="container">
  <BasicDropdown as |dd|>
    <dd.Trigger class='trigger-bootstrap-feel'>Click me <span class='caret'></span></dd.Trigger>
    <dd.Content {{on 'mouseleave' (fn this.closeLater dd)}} class='content-bootstrap-feel'>
      <p {{on "click" this.mealSelected}}>Breakfast</p>
      <p {{on "click" this.mealSelected}}>Lunch</p>
      <p {{on "click" this.mealSelected}}>Brunch</p>
      <p {{on "click" this.mealSelected}}>Dinner</p>
      <p {{on "click" this.mealSelected}}>Supper</p>
      <p {{on "click" this.mealSelected}}>Snack</p>
    </dd.Content>
  </BasicDropdown>
  <div class="diary">
    <ul>
      {{#each this.meals as |meal|}}
        <li class="meal-list-item" {{on "click" (fn this.changeSection meal)}}>{{meal.name}}</li>
        {{#if (eq this.currentSection meal)}}
          {{#each meal.foods as |food index|}}
            <ul>
              <li>
                {{food.name}}
                {{food.serving}}
                {{food.kcal}}
              </li>
            </ul>
          {{/each}}
          <input type="text" id="food" {{on "change" this.update}}>
          <button type="button" class="btn btn-primary" {{on "click" this.searchFood}}> Search </button>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  <div class="product-list-container">
    <ul class="product-list">
      {{#each this.products as |product|}}
        {{#if (and product.name product.kcal)}}
          <li>
            <h3 class="product-name" {{on "click" (fn this.addFood product)}}>{{product.name}}</h3>
            <input type="number" id="serving" {{on "change" this.update}}> grams
            <h4>Kcal {{product.kcal}}</h4>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>

<Logout/>

{{outlet}}